body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro {
    text-align: center;
}

.project, .repo-item {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional styles for the projects section */
.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.repo-item {
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 5px;
    width: calc(33% - 20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.repo-item:hover {
    transform: translateY(-5px);
}

.repo-item h3 {
    margin: 0;
}

.repo-item p {
    margin: 10px 0;
}

.repo-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: right;
}